
/forecast_models/__pycache__
.DS_Store
/scr/__pycache__
/old_files
/__pycache__
/eval_scr/__pycache__
/tests/__pycache__
/logs
/catboost_info
/tests_output
*.log
/evaluation/__pycache__
/visualization/__pycache__
/dev_tools/__pycache__
/dev_tools/eval_scr/__pycache__
/dev_tools/evaluation/__pycache__
/dev_tools/visualization/__pycache__
/monthly_forecasting/__pycache__
/monthly_forecasting/forecast_models/__pycache__
/monthly_forecasting/scr/__pycache__
/scripts/__pycache__
/tests/functionality/__pycache__
/tests/unit/__pycache__
.env
/output
/synthetic_test
/monthly_forecasting/forecast_models/meta_learners/__pycache__
/monthly_forecasting/forecast_models/meta_learners/__pycache__
/debug_snow_analysis
/monthly_forecasting/forecast_models/deep_models/utils/__pycache__
/monthly_forecasting/forecast_models/deep_models/__pycache__
/monthly_forecasting/forecast_models/deep_models/architectures/__pycache__
/checkpoints
